build
temp
code/.cache
code/compile_commands.json
code/.vs
code/src/*/*.vcxproj
code/src/*/*.vcxproj.filters
code/src/*/*.vcxproj.user
code/project_files
code/src/**/**.bff
code/paw.bff
code/paw.sln
code/paw.windows.fdb
code/paw-globalsettings.bff
code/test-project-files
code/fbuild.windows.fdb
*.sln
source-data/shaders/*.vcxproj*
